@import "fundamentals.css";
@import "colors.css";

.page-background {
    padding: 3rem;
}
.content-block {
    background-color: #1a1c1f;
    box-shadow: 0 5px 30px rgba(12, 9, 7, .8);
    border-radius: 12px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 2rem ;
}

/*----- # header section -----*/
.content-header {
    text-align: center;
    background-color: #36393f;
    border-radius: 12px 12px 0 0;
}
.header-info {
    padding: 1.5rem 1.85rem 1.25rem;
    display: flex;
    justify-content: center;
}
.brandmark {
    width: 52px;
    height: 52px;
}
.header-image-block {
    position: relative;
    width: 100%;
}
.header-image {
    width: 100%;
    height: auto;
    display: block;
}
.header-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: .5s ease;
    height: 40%;
    background-image: linear-gradient(0deg, rgba(16, 16, 16, .55), transparent);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 20px 20px 25px 34px;
}
.course-title {
    color: #d0d4dc;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 4px #1a1c1e;
}
.verified-course-icon {
    width: 24px;
    margin-left: 10px;
    padding-bottom: 1px;
}

/*----- # content section -----*/
.content-main {
    display: flex;
    width: 100%;
}
.course-icon-list {
    background-color: #202225;
    padding: 0;
    text-align: center;
    width: 6%;
}
.course-icon-wrap {
    cursor: pointer;
    transition: border-left-color .3s ease;
    padding: 12px;
    border-left: 3px solid rgba(0,0,0,0);
    border-radius: 8px 0 0 8px;
}
.course-icon-wrap:hover {
    border-left: 3px solid #4c5c7b;
    border-radius: 6px;
}
.course-icon-wrap.active{
    background-color: #17181b;
    border-left: 3px solid #4c5c7b;
    border-radius: 8px 0 0 8px;
}
.course-icon-wrap.active:hover {
    border-left: 3px solid #596f99;
    border-left: 3px solid #627ba9;
}
.course-icon {
    width: 54px;
}
.course-index {
    background-color: #2f3136;
    width: 26%;
}
.course-index-title {
    background-color: rgba(32, 34, 37, .4);
    color: #b9bdc5;
    padding: 27px 20px;
}
.course-index-title h4 {
    font-size: 1.25rem;
    margin-bottom: 0;
}
.course-index-category {
    border-bottom: 1px solid #43474e;
    padding: 26px 18px 22px;
}
.category-indicator {
    background-color: #202225;
    background-color: rgba(32, 34, 37, .9);
    padding: 1px 6px 2px;
    border-radius: 3px;
    margin-right: 4px;
    opacity: .65;
    font-size: 15px;
}
.course-index-listing li {
    list-style-type: none;
    margin-bottom: 2px;
}
.course-index-listing-title {
    color: #8c9095;
    display: inline-block;
    padding: 3px 0 4px 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
}
.course-index-listing-title:hover {
    color: #d7d8d9;
}
.content-body {
    background-color: #36393f;
    padding: 2rem 3rem;
    width: 73%;
}
.post-inline {
    display: flex;
}
.post-date {
    margin-bottom: 16px;
    color: #707580;
    font-weight: 400;
    margin-right: 7px;
}
.author {
    color: #91949c;
}
.post-title-indicator {
    background-color: #25282d;
    background-color: rgba(32, 34, 37, .5);
    border-radius: 6px;
    padding: 2px 8px 4px;
    margin-right: 6px;
    font-size: 1.35rem;
    color: #8f9ed4;
    color: #919dc7;
    color: #a2accf;
}
.content-body img.full {
    width: 100%;
}

/*----- # footer section -----*/
.footer {
    background-color: #202225;
}
.footer a {
    color: #5071af;
}
.footer a:hover {
    color: #5d81c5;
}
.developer {
    color: #5f636d;
    font-size: 15px;
    padding: 0.25rem 1rem;
}